.navbar {
     width: 90%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
}

.footer {
     background-color: rgb(242, 197, 139);
}

.footer nav ul {

     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.footer nav ul li {
     margin: 0 2rem;
     list-style: none;
}